{{ define "head-import" }} {{ end }} {{ define "main" }}
<div class="style-2023">
  <section class="pb-5" style="column: 2">
    <div class="row text-left py-3">
      <div class="col-12 col-md-6">
        <table style="font-family: Roboto; display: none">
          <tr>
            <td style="width: 260px"><b>300 +</b></td>
            <td style="width: 260px"><b>20 +</b></td>
            <td style="width: 260px"><b>4 +</b></td>
          </tr>
          <tr>
            <td>Attendees</td>
            <td>Talks</td>
            <td>Workshop days</td>
          </tr>
        </table>
        <h1>{{ .Title }}</h1>
        <p>
          conf.kde.in aims to attract new KDE Community members, as well as
          seasoned developers. The contents of the conference provide updates on
          what is going on in the KDE Community and teaches newcomers how to
          start making meaningful contributions.
        </p>
        <h3>Come Join Us!</h3>
        <h5>Pune, Maharastra</h5>
        <h5>2nd - 4th February</h5>
      </div>
      <div class="col-12 col-md-6">
        <img
          class="img-fluid"
          src="/media/kdeindia.png"
          alt="Line drawing of man looking away"
          loading="lazy"
        />
      </div>
    </div>
    <div class="text-left">
      <div class="mt-1 h5">
        <img
          class="img-fluid"
          style="width: 100%"
          src="/media/kdebannergrey.jpeg"
          alt="Akademy participants in 2022"
          loading="lazy"
        />
      </div>
    </div>
  </section>

  <div class="row text-left py-5">
    <div class="col-12 col-md-6">
      <h2 class="mt-0">About Pune</h2>
      <p>
        Pune, city, west-central Maharashtra state, western India, at the
        junction of the Mula and Mutha rivers. Called “Queen of the Deccan,”
        Pune is the cultural capital of the Maratha peoples. The city first
        gained importance as the capital of the Bhonsle Marathas in the 17th
        century. It was temporarily captured by the Mughals but again served as
        the official Maratha capital from 1714 until its fall to the British in
        1817. It was the seasonal capital of the Bombay Presidency and is now a
        popular tourist resort, offering cool weather, historic and religious
        monuments, museums, parks, hotels, and cultural attractions
      </p>
    </div>
    <div class="col-12 col-md-6">
      <img
        src="/media/punegrey.jpg"
        alt="Photo of Thessaloniki"
        class="img-fluid"
      />
    </div>
  </div>

  <div class="row text-left py-5">
    <div class="d-flex justify-content-md-center">
      <div class="col-12 col-md-6">
        <h2 class="mt-0">COEP Technological University</h2>
        <p>
          COEP Technological University is a unitary public university of the
          Government of Maharashtra, situated on the banks of Mula river, Pune,
          Maharashtra, India. Established in 1854, it is the 3rd oldest
          engineering institute in India.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img
          src="/media/coepgrey.jpeg"
          alt="Photo of Thessaloniki"
          class="img-fluid"
        />
      </div>
    </div>
  </div>

  <div class="row text-left py-5">
    <div class="col-12 col-md-6 order-md-1">
      <h2 class="mt-0">conf.kde.in and KDE</h2>
      <p>
        conf.kde.in aims to attract new KDE Community members, as well as
        seasoned developers. The contents of the conference provide updates on
        what is going on in the KDE Community and teaches newcomers how to start
        making meaningful contributions.
      </p>
      <p>
        KDE is an international team cooperating on development and distribution
        of Free, Open Source Software for desktop and portable computing.
      </p>
      <p>
        Our community has developed a wide variety of applications for
        communication, work, education, and entertainment. We have a strong
        focus on finding innovative solutions to old and new problems, creating
        an energetic and open atmosphere for experimentation.
      </p>
      <p>
        The event will be held from 15th – 21st July 2023. We will have a
        welcome party the evening before the talks start.
      </p>
    </div>
    <div class="col-12 col-md-6 order-md-0">
      <img
        src="/media/Kde_india_white.png"
        alt="KDE logo with a wreath around it"
        class="img-fluid"
      />
    </div>
  </div>

  <section class="text-center pb-5">
    <h2>Want to give a talk?</h2>
    <a target="_blank" href="https://conf.kde.org/event/7/abstracts/" class="button-2023">Submit your paper</a>
  </section>

  <section class="text-center pb-5">
    <h2>Sponsors</h2>
    <p>
      By sponsoring this event, you will receive substantial exposure and reach
      top technical people from around the world.
    </p>
    <a href="/2024/sponsoring" class="button-2023">Learn more</a>
  </section>

  <section class="row follow-2023 px-4 my-5">
    <div class="col-12 col-md-6 follow-2023-text">
      <h2>Stay up to date!</h2>
      <p class="mb-5">
        Stay up to date by following conf.kde.in on X or hang out in our Telegram channel.
      </p>
    </div>
    <div
      class="col-12 col-md-6 mb-5 mb-md-0 d-flex align-items-center justify-content-end"
    >
      <span>
        <a href="https://twitter.com/kdeindia">
          <img src="/media/Fork-Awesome-1.2.0/src/icons/svg/x.svg" />
        </a>
        <a href="https://t.me/kde_india">
          <img src="/media/Fork-Awesome-1.2.0/src/icons/svg/telegram.svg" />
        </a>
      </span>
    </div>
  </section>
</div>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Event",
    "description": "conf.kde.in aims to attract new KDE Community members, as well as seasoned developers. The contents of the conference provide updates on what is going on in the KDE Community and teaches newcomers how to start making meaningful contributions.",
    "endDate": "2023-07-21T17:00:00+03:00",
    "location": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressCountry": "GR",
        "addressLocality": "Θεσσαλονίκη",
        "postalCode": "546 36",
        "streetAddress": "Εγνατία 156"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 40.625431,
        "longitude": 22.9603673
      },
      "name": "University of Macedonia"
    },
    "name": "KDE Akademy 2023",
    "startDate": "2023-07-15T09:00:00+03:00",
    "url": "https://akademy.kde.org/2023"
  }
</script>
{{ end }}
