.main-content img {
  margin: 5px;
  padding: 5px;

  &.framed {
    margin: 15px;
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 10px #b3c9d2;
      -moz-box-shadow: 0px 0px 10px #b3c9d2;
      -webkit-box-shadow: 0px 0px 10px #b3c9d2;
    border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
  }
}
